
.lot-info {
	margin: 0 30% 30% 30%;
	background-color: #f3f3f3;
	border: 1px solid black;
}

.lot-info ul {
	list-style-type: none;
}

.message {
	display: none;
}

.active-message {
	display: block;
}

.deletebtn{
    background-color: #f44336;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
    opacity: 0.9;
}


.deletebtn:hover {
    opacity:1;
}

.info-block {
  padding: 13px 0;
}

.info-value{
  float: left;
  width: 50%;
}

.info-name{
  float: left;
  width: 50%;
}
