
.container {
	font-family: Arial;
	padding: 0 30% 30% 30%;
}

.lot-info ul {
	  list-style-type: none;
}

.lot-info li {
	  float: left;
    text-align: center;
    padding: 11px;
}

.lot-info {
	background-color: #f3f3f3;
	margin-bottom: 15px;
	border: 1px solid black;
	height: 70px;
	overflow: hidden;
	min-width: 400px;
}

.lot-name {
	min-width: 10%;
}