body {
	font-family: Arial;
}

ul.nav-bar {
    list-style-type: none;
    margin-top: -10px;
    padding: 0;
    overflow: hidden;
    background-color: #f3f3f3;
    height: 70px;
}

.nav-bar li {
    float: left;
    height: 100%;
}

.nav-bar a img {
	max-width:100px;
	max-height:100%;
}

.nav-bar li a, .dropbtn {
    display: inline-block;
    color: #666;
    padding: 25px;
    text-decoration: none;
    height: 100%;
    text-align: center;
    border: 1px solid #e7e7e7;
}

.logo {
  padding-top: 0;
  margin-top: -20px;
}

.nav-bar li a:hover, .signout:hover {
    background-color: #ddd;
}

li.dropdown {
  display: inline-block;
	float:right;
}

li.signout {
	display: inline-block;
	float:right;
	padding: 15px 19px;
}

.dropdown-content {
  margin-top: -55px;
  display: none;
  width: 180px;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
    color: #666;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 16px;
    width: 100%;
    background-color: #f9f9f9;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.signoutbtn {
  color: #666;
  border: none;
  padding: 12px 16px;
  background: none;
  font-size: 16px;
  cursor: pointer;
}