
.container {
    padding: 0 30%;
    font-family: Arial;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    margin: 6px 0;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.error {
  margin: 1px 0;
  color: red;
  display: none;
}

.visible {
	display: inline-block;
}

.line {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.editbtn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.editbtn:hover {
    opacity: 1;
}

.msg {
	text-align: center;
}

.success {
	color: #4CAF50;
}

.error-msg {
	color: red;
}
