body {
  font-family: Arial;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    margin: 7px 0;
}

.error {
  margin: 0px 0;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.line {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.signinbtn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.signinbtn:hover {
    opacity:1;
}

.container {
    padding: 0 30% 30% 30%;
}

.error {
  color: red;
}